/* ui-head
   =============================================================================
*/

.ui-head {
	color: #FFF;
	display: table;
	bottom: 54px;
	height: 124px;
	line-height: 1;
	padding: 30px 26px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.ui-head {
	background-color: rgba(152,30,50,0.85);
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3);
}

.ui-head > * {
	display: table-cell;
	vertical-align: middle;
}

/* ui-logo
   =============================================================================
*/

.ui-logo {
	content: url(../img/chapman.svg);
	height: 64px;
	margin-right: 14px;
	width: 280px;
}

/* ui-locality
   =============================================================================
*/

.ui-location {
	font-family: "Futura LT";
}

.ui-location-name, .ui-location-time {
	display: block;
	margin-right: 28px;
	white-space: nowrap;
}

.ui-location-name {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.ui-location-time {
	font-size: 20px;
	font-weight: 300;
}

.ui-location-name + .ui-location-time {
	margin-top: 4px;
}

/* ui-nav
   =============================================================================
*/

.ui-menu {
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.ui-menu-list {
	font-size: 0;
	margin-top: -12px;
	position: absolute;
	right: 0;
	top: 50%;
	transition: -webkit-transform 750ms;
	white-space: nowrap;
}

.ui-menu-item, .ui-menu-caret {
	display: inline-block;
	font: 400 16px/1 "RooneySans", sans-serif;
	height: 32px;
	text-align: center;
	overflow: hidden;
	padding: 8px 32px;
	position: relative;
	transition: color 400ms 100ms;
}

.ui-menu-item {
	box-shadow: 0 -2px 0 0 #FFF;
}

.ui-menu-item--active {
	color: rgba(168, 36, 57, 1);
	text-shadow: 0 0 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1);
}

.ui-menu-caret {
	background-color: rgba(255,255,255,1);
	border-radius: 0 0 4px 4px;
	padding: 0;
	transition: background-color 750ms, width 750ms, -webkit-transform 750ms;
	top: 4px;
	width: 0;
}
