subhead { display: block; }

/* ui-feed
   =============================================================================
*/

.ui-feed { 
	bottom: 0;
	font: 400 100%/1 sans-serif;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.ui-feed {
	background-color: rgba(236,235,229,1);
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}
