/* ui-slide
   =============================================================================
*/

.ui-slide {
	bottom: 0;
	left: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}

.ui-slide--dark {
	background-color: rgba(0,0,0,1);
	color: rgba(253,253,253,1);
}

.ui-slide--light {
	background-color: rgba(236,235,229,1);
	color: rgba(56,56,56,1);
}

.ui-body {
	overflow: hidden;
	z-index: 0;
}

.ui-slide--standard .ui-slide-datetime {
	font-family: "RooneySans";
	font-size: 28px;
	font-weight: 700;
	line-height: 1.25;
}

.ui-slide--standard .ui-slide-location {
	font-family: "RooneySans";
	font-size: 24px;
	font-style: italic;
	line-height: 1.25;
}

.ui-slide-background {
	bottom: 0;
	left: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.ui-slide--standard .ui-slide-foreground {
	height: 100%;
	width: 50%;
}

.ui-slide--left  .ui-slide-foreground { right: 0; }
.ui-slide--right .ui-slide-foreground { left: 0; }

.ui-slide--standard .ui-slide-body {
	bottom: 0;
	max-width: 60em;
	padding: 120px 20px 20px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.ui-slide--schedule .ui-slide-body { padding: 0 140px; }

.ui-slide--left  .ui-slide-body { left: 0; padding-left: 140px;}
.ui-slide--right .ui-slide-body { padding-right: 140px; right: 0; }

.ui-slide--dark  .ui-slide-body { text-shadow: 0 1px 0 rgba(0,0,0,1), 0 1px 1px rgba(0,0,0,1), 0 0 1px rgba(0,0,0,1), 0 0 2px rgba(0,0,0,0.5); }
.ui-slide--light .ui-slide-body { text-shadow: 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1), 0 0 2px rgba(255,255,255,0.5); }

.ui-slide-heading {
	font: 700 60px/1.5 "Futura LT";
	letter-spacing: -0.025em;
}

.ui-slide--schedule .ui-slide-heading { padding: 60px 0 0 140px; }

.ui-slide-subheading {
	font: 700 32px/1 "Futura LT";
	letter-spacing: 0.025em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.ui-slide--schedule .ui-slide-subheading { margin-top: -0.25em; padding: 0 0 0 140px; }

.ui-slide--dark  .ui-slide-subheading { color: #62605A; }
.ui-slide--light .ui-slide-subheading { color: #62605A; }

.ui-slide--standard .ui-slide-content {
	font-family: "RooneySans";
	width: 40em;
}

.ui-slide--standard .ui-slide-content p {
	line-height: 1.5;
	margin-top: 1.5em;
}

.ui-event {
	background-color: rgba(255,255,255,1);
	display: flex;
	font-family: RooneySans;
	margin: 0 0 10px;
	padding: 20px;
}

.ui-event-time { order: 1; padding-right: 20px; width: 7.5%; }
.ui-event-date { order: 2; padding-right: 20px; width: 12.5%; }
.ui-event-body { order: 3; padding-right: 100px; width: 55%; }
	.ui-event-name { font-family: "Futura LT"; font-size: 20px; font-weight: 700; }
	.ui-event-image { float: left; height: 100%; margin-right: 15px; }
.ui-event-admission { order: 4; padding-right: 20px; font-style: italic; width: 10%; }
.ui-event-audience  { order: 5; font-style: italic; width: 15%; }

.ui-slide-organizer {
	bottom: 170px;
	font: 700 15px/1 "Futura LT", sans-serif;
	font-weight: 700;
	height: 40px;
	left: 0;
	padding: 12.5px 54px;
	position: absolute;
	margin-bottom: 1em;
}

.ui-slide-organizer {
	background-color: rgba(53, 52, 48, 0.75);
	border-radius: 0 3px 3px 0;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.28);
	color: rgba(255,255,255,1);
}

.ui-slide--active {
	z-index: 1;
}
